﻿@{
  Layout = "_Layout";
}
<img src="/img/Partymp4.gif" loop=infinite />

@using Gather.Models;

<h1 id="homepageh1">Welcome to Gathering, the Magic Event Planner!</h1>

<div id="homelinks">
<br>
  <p>@Html.ActionLink("Gatherings", "Index", "Gatherings") &nbsp; @Html.ActionLink("Vendors", "Index", "Vendors") &nbsp; @Html.ActionLink("Activities", "Index", "Activities") &nbsp; @Html.ActionLink("Items", "Index", "Items")</p>
</div>
<br>


